#frame{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    /* padding-right: 10px; */
    /* margin-left: 15px; */
    /* margin-right: 15px; */
   
   }