
.favourites .frame{
    display : flex;
       flex-wrap: wrap;
       justify-content: space-between;
       

}
.frame div{
    flex: 0 1 30%;  
    text-align: center;
    width: calc((100% /3 ) - 10em);
    margin: 2em 0;
  
}