#more-details {
    z-index: 100;
    position: absolute;
    top: 1.5em;
    left: 0.6em;
}
.wrapper{
    position: relative;
}
.fb-page {
    background-image: url(/src/images/background2.jpg);
}
.add-button{
    margin-left: 204px;
    
}
.add-button button{
    background-color: rgba(255,255,255,0);
    color:white;
}
#goToVenue{
    margin-left: 220px;
}